/* notas-component.component.css */

:host {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

.mat-form-field:last-child {
    margin-bottom: 0;
}

.resultado {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}